<p id="notice"><%= notice %></p>

<div class="card" style="width: fit-content">
  <div class="card-header">
    Detail
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= @product.name %></h5>
    <p class="card-text">
      Code: <%= @product.code %>
    </p>
    <p class="card-text">
      Price: <%= @product.price %>
    </p>
    <p class="card-text">
      Quantity: <%= @product.quantity %>
    </p>
<!--    <a href="#" class="btn btn-primary">Go somewhere</a>-->
    <%= link_to 'Edit', edit_product_path(@product), class:"btn btn-primary" %> |
    <%= link_to 'Back', products_path, class:"btn btn-primary" %>
  </div>
</div>
